.portlet-image-selector {
	.lfr-image-selector {
		border: dashed 1px #8D8D8D;
	}

	.image-upload-wrapper {
		padding: 20px 0;
		text-align: center;
	}

	.image-upload-file {
		visibility: hidden;
		position: absolute;
	}

	.image-preview-wrapper {
		height: 400px;
		overflow: hidden;
		position: relative;
		width: 100%;

		.image-preview-action-buttons {
	    	bottom: 20px;
			position: absolute;
			right: 30px;
		}
	}
}