.image-editor-base {
    display: inline-block;
    position: relative;
}

.image-editor-base canvas {
    display: block;
    position: absolute;
    top: 0;
}

.image-editor-base .image-editor-processors {
    bottom: 0;
    position: absolute;
    width: 100%;
}

.image-editor-base .image-editor-processors .image-processor-status {
    background-color: #000000;
    background-color: rgba(0, 0, 0, 0.4);
    color: #FFFFFF;
}

.image-editor-base .image-processor-info, .image-editor-base .image-processor-widgets {
    text-align: center;
}

.image-editor-base .image-processor-swf {
    position: absolute;
}

.image-editor-base .image-editor-trigger-default, .image-editor-base .toolbar {
    bottom: 10px;
    left: 10px;
    position: absolute;
}