.quick-actions {
	.row {
		align-items: stretch;
		.btn.quick-action {
			border-color: rgb(241, 242, 245);
			border-radius: 10px;
			border-width: 2px;
			overflow-wrap: break-word;
			white-space: normal;
			word-wrap: break-word;
		}
	}
}
