.portlet-document-selector {
	.tab-body {
		margin-top: 1em;
	}

	.image-selector-container {
		overflow: auto;
		width: 100%;

		.drop-zone {
			min-height: 115px;
		}

		.preview-content {
			float: left;
			height: 300px;
			padding: 10px;
			text-align: center;

			a {
				display: inline-block;
				max-width: 100%;
			}

			img {
				max-width: 100%;
				max-height: 280px;
			}

		}

		.list-content {
			padding: 20px 10px;
			width: 100%;
			display: inline-block;

			&:not(:last-child){
				border-bottom: 1px solid #ccc;
			}

			.thumbnail-container {
				width: 100px;
				float: left;
				display: inline-block;
				margin-right: 20px;

				img {
					max-width: 100%;
					max-height: 100%;
				}
			}

			dl {
				dt {
					float: left;
	   				margin-right: 3px;
	   			}

	   			.taglib-workflow-status {
   					margin: 0;

   					.workflow-status {
   						padding-top: 0;
   					}
   				}
			}
		}

		&.style-list .drop-zone {
			margin-bottom: 30px;
		}
	}

}

/* Override aui-image-viewer styles */
.image-viewer-close {
	left: 20px;

	h4, span {
		float: left;
	}
	span {
		margin-top: 5px;
		margin-right: 10px;
	}
}

.image-viewer-base-image-container {
	.image-viewer-base-image-info {
		display: none;
		width: 200px;
		border: 1px solid red;
		color: #FFF;
	}

	&.show-info {
		/* TODO meter animacion */
		.image-viewer-base-image {
			float: left;
		}

		.image-viewer-base-image-info {
			float: right;
			display: block;
		}
	}
}

.image-viewer-footer-content {
	padding: 0 20px;
	position: relative;
	text-align: center;

	.image-viewer-caption {
		position: absolute;
	}

	.image-viewer-thumbnails {
		display: none;
	}

	.glyphicon-info-sign {
		color: #fff;
		font-size: 25px;
		position: absolute;
		right: 20px;
	}
}