.activation-key-form {
	&-aggreements-text {
		font-size: 11px;
		text-align: justify;
	}

	&-aggreements-check-box,
	&-notify-me-check-box,
	&-purpose-helper-text {
		font-size: 11px;
	}

	&-fail {
		border: solid 1px red !important;
	}

	&-select-input {
		height: 40px;
	}

	&-textarea {
		height: 100px;

		&:focus {
			outline: #cccccc !important;
		}
	}

	.loading-animation {
		margin: 0px !important;
	}
}

.dropdown-menu {
	border-radius: 10px !important;
	max-width: none !important;
	padding: 8px !important;
	transition: all 0.3s ease-in-out !important;
	width: 525px;

	.dropdown-item:hover {
		color: #0053f0;
	}
}
